#container{
    text-align: center;
    display: flex;
    
    
  
    
}
#flex{
    background-color: rgb(216, 112, 185);
    justify-content: center;

    
    
}
#main-nav{
    text-align: center;
}
#dex{
    text-align: center;
    justify-content: space-between;
}
    

